@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: #19367b;
  --secundary-color:#56d1fb;
  --complementary-color: #f9ea3c;
  --complementary-hover-color: #e27533;
  --bg-color: #f9f9fb;
  --text-color: #020b1f;

  --shadow1: 1px 7px 5px  #e1dcdc;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4, p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



